.ion-label-cancel {
    font-size: 15px;
    color: var(--ion-color-danger);
    float: left;
    margin-left: 5%;
    margin-top: 2%;
    font-weight: bold;
}

.item-paso{
    --border-color: white;
}

.slide-zoom {
    height: 100%;
    overflow-y: auto;
    //margin-left: 10%
   
    }

