<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio" class = "tabs-ios-tab-icon-color-active" >
      <ion-icon name="pizza"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="publicar" class = "tabs-ios-tab-icon-color-active" >
      <ion-icon name="add"></ion-icon>
      <ion-label>Publicar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="eventos" class = "tabs-ios-tab-icon-color-active">
      <ion-icon name="search"></ion-icon>
      <ion-label>Eventos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" class = "tabs-ios-tab-icon-color-active">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
