hr {
    height: 1px !important;
    background: lightgrey !important;
    display: block !important;
    font-size: 2em !important;
    opacity: 1 !important;
    visibility: visible !important;
  }
